.container {
  margin-top: 60px;
}

.menu {
  border-style: solid !important;
  border-color: white !important;
  border-width: 14px 14px 0 14px !important;
}

.list {
  overflow-y: auto;
  max-height: 200px;
  padding: 5px;
  border: 1px solid #ddd;
  color: #2185d0;
  //border-radius: 5px;
}

.row {
  padding: 8px 10px;
  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }

  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.025);
  }
}

.index {
  color: #bbb;
  float: right;
}
